# Exercises

In [2]:
# Import pandas
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# Load the data
data = pd.read_csv('micro_world.csv', engine='python')

In [4]:
# Show columns
data.columns

Index(['economy', 'economycode', 'regionwb', 'pop_adult', 'wpid_random', 'wgt',
       'female', 'age', 'educ', 'inc_q',
       ...
       'receive_wages', 'receive_transfers', 'receive_pension',
       'receive_agriculture', 'pay_utilities', 'remittances', 'pay_onlne',
       'pay_onlne_mobintbuy', 'pay_cash', 'pay_cash_mobintbuy'],
      dtype='object', length=105)

## EASY. What is the breakdown of gender per region? Use .groupby().

In [5]:
# Group the data by region and gender
data.groupby(['regionwb', 'female'])['wpid_random'].count()

regionwb                                            female
East Asia & Pacific (excluding high income)         1          5739
                                                    2          8094
Europe & Central Asia (excluding high income)       1          9872
                                                    2         13190
High income: OECD                                   1         14611
                                                    2         16455
High income: nonOECD                                1          6131
                                                    2          5478
Latin America & Caribbean (excluding high income)   1          6561
                                                    2          9943
Middle East & North Africa (excluding high income)  1          6755
                                                    2          7390
South Asia                                          1          4043
                                                    2          4661
Sub-Saharan Africa (excluding high income)          1         17130
                                                    2         17870
Name: wpid_random, dtype: int64

## AVERAGE. Per region, compute percentage of population with credit card AND debit card segmented by gender.

Hint:
Columns will be region, % of male with BOTH credit card AND debit card, % of female with BOTH credit card AND debit card

In [7]:
#group first per region
#per region get the population with credit and debit
#

# Create new column
data['with debit card AND credit card'] = data.apply(
    lambda x: 1 if x['fin2'] == 1 and x['fin7'] == 1 else None, 
    axis=1
)

In [8]:
# Show data
data[['fin2','fin7', 'with debit card AND credit card']]

        fin2  fin7  with debit card AND credit card
0          2     2                              NaN
1          2     2                              NaN
2          2     2                              NaN
3          2     2                              NaN
4          2     2                              NaN
...      ...   ...                              ...
154918     2     2                              NaN
154919     1     2                              NaN
154920     1     2                              NaN
154921     1     1                             1.00
154922     1     2                              NaN

[154923 rows x 3 columns]

In [7]:
# Apply groupings
grouped_data = data.groupby(['regionwb','female'])['wpid_random', 'with debit card AND credit card'].count()
grouped_data = grouped_data.reset_index()

/var/folders/yl/x170m04n5wsg30cdpcldgd5r0000gn/T/ipykernel_2914/2135066545.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data = data.groupby(['regionwb','female'])['wpid_random', 'with debit card AND credit card'].count()

In [8]:
# Show data
grouped_data

,regionwb,female,wpid_random,with debit card AND credit card
0,East Asia & Pacific (excluding high income),1,5739,491
1,East Asia & Pacific (excluding high income),2,8094,430
2,Europe & Central Asia (excluding high income),1,9872,1526
3,Europe & Central Asia (excluding high income),2,13190,1568
4,High income: OECD,1,14611,7443
5,High income: OECD,2,16455,7283
6,High income: nonOECD,1,6131,2211
7,High income: nonOECD,2,5478,1651
8,Latin America & Caribbean (excluding high income),1,6561,846
9,Latin America & Caribbean (excluding high income),2,9943,757
10,Middle East & North Africa (excluding high inc...,1,6755,391
11,Middle East & North Africa (excluding high inc...,2,7390,202
12,South Asia,1,4043,104
13,South Asia,2,4661,61
14,Sub-Saharan Africa (excluding high income),1,17130,764
15,Sub-Saharan Africa (excluding high income),2,17870,503

In [9]:
# Compute % population with credit card AND debit card
grouped_data['% of population with debit card AND credit card']=grouped_data['with debit card AND credit card']*100.0/grouped_data['wpid_random']

In [10]:
# Show data
grouped_data

,regionwb,female,wpid_random,with debit card AND credit card,% of population with debit card AND credit card
0,East Asia & Pacific (excluding high income),1,5739,491,8.56
1,East Asia & Pacific (excluding high income),2,8094,430,5.31
2,Europe & Central Asia (excluding high income),1,9872,1526,15.46
3,Europe & Central Asia (excluding high income),2,13190,1568,11.89
4,High income: OECD,1,14611,7443,50.94
5,High income: OECD,2,16455,7283,44.26
6,High income: nonOECD,1,6131,2211,36.06
7,High income: nonOECD,2,5478,1651,30.14
8,Latin America & Caribbean (excluding high income),1,6561,846,12.89
9,Latin America & Caribbean (excluding high income),2,9943,757,7.61
10,Middle East & North Africa (excluding high inc...,1,6755,391,5.79
11,Middle East & North Africa (excluding high inc...,2,7390,202,2.73
12,South Asia,1,4043,104,2.57
13,South Asia,2,4661,61,1.31
14,Sub-Saharan Africa (excluding high income),1,17130,764,4.46
15,Sub-Saharan Africa (excluding high income),2,17870,503,2.81

In [11]:
# Filter data
grouped_data = grouped_data[
    [
        'regionwb',
        'female',
        '% of population with debit card AND credit card'
    ]
]

In [12]:
# Show data
grouped_data

,regionwb,female,% of population with debit card AND credit card
0,East Asia & Pacific (excluding high income),1,8.56
1,East Asia & Pacific (excluding high income),2,5.31
2,Europe & Central Asia (excluding high income),1,15.46
3,Europe & Central Asia (excluding high income),2,11.89
4,High income: OECD,1,50.94
5,High income: OECD,2,44.26
6,High income: nonOECD,1,36.06
7,High income: nonOECD,2,30.14
8,Latin America & Caribbean (excluding high income),1,12.89
9,Latin America & Caribbean (excluding high income),2,7.61
10,Middle East & North Africa (excluding high inc...,1,5.79
11,Middle East & North Africa (excluding high inc...,2,2.73
12,South Asia,1,2.57
13,South Asia,2,1.31
14,Sub-Saharan Africa (excluding high income),1,4.46
15,Sub-Saharan Africa (excluding high income),2,2.81

In [13]:
# Apply pivot
pivoted_data = grouped_data.pivot(
    index ='regionwb', 
    columns ='female', 
    values =['% of population with debit card AND credit card']
    ).reset_index()

In [14]:
# Show data
pivoted_data

                                                 regionwb  \
female
0             East Asia & Pacific (excluding high income)
1           Europe & Central Asia (excluding high income)
2                                       High income: OECD
3                                    High income: nonOECD
4       Latin America & Caribbean (excluding high income)
5       Middle East & North Africa (excluding high inc...
6                                              South Asia
7              Sub-Saharan Africa (excluding high income)

       % of population with debit card AND credit card
female                                               1     2
0                                                 8.56  5.31
1                                                15.46 11.89
2                                                50.94 44.26
3                                                36.06 30.14
4                                                12.89  7.61
5                                                 5.79  2.73
6                                                 2.57  1.31
7                                                 4.46  2.81

## DIFFICULT. Compute the following metric per region:

card ownership access gender ratio = % of females with BOTH credit card AND debit card/% of males with BOTH credit card AND debit card

No apparent gender discrepancy if metric approaches 1. Else, there is a discrepancy.

In [15]:
# Access each column of the multiindex dataframe and save it to a variable
females = pivoted_data['% of population with debit card AND credit card', 2]
males = pivoted_data['% of population with debit card AND credit card', 1]
regions = pivoted_data['regionwb', '']

In [16]:
# Create dictionary of Series data
series_dict = {
    'regions': regions,
    '% of female population with debit card AND credit card': females,
    '% of male population with debit card AND credit card': males
}

In [17]:
# Create a new dataframe
discrepancy_data = pd.DataFrame(series_dict)

In [18]:
# Show data
discrepancy_data

,regions,% of female population with debit card AND credit card,% of male population with debit card AND credit card
0,East Asia & Pacific (excluding high income),5.31,8.56
1,Europe & Central Asia (excluding high income),11.89,15.46
2,High income: OECD,44.26,50.94
3,High income: nonOECD,30.14,36.06
4,Latin America & Caribbean (excluding high income),7.61,12.89
5,Middle East & North Africa (excluding high inc...,2.73,5.79
6,South Asia,1.31,2.57
7,Sub-Saharan Africa (excluding high income),2.81,4.46

In [19]:
# Compute card ownership access gender ratio
discrepancy_data['card ownership access gender ratio'] = discrepancy_data['% of female population with debit card AND credit card']/discrepancy_data['% of male population with debit card AND credit card']

In [20]:
# Sort (from highest to lowest ratio). Note that ratio approaching 1 is better!
discrepancy_data = discrepancy_data.sort_values(by=['card ownership access gender ratio'], ascending=[False])

In [21]:
# Show data
discrepancy_data

,regions,% of female population with debit card AND credit card,% of male population with debit card AND credit card,card ownership access gender ratio
2,High income: OECD,44.26,50.94,0.87
3,High income: nonOECD,30.14,36.06,0.84
1,Europe & Central Asia (excluding high income),11.89,15.46,0.77
7,Sub-Saharan Africa (excluding high income),2.81,4.46,0.63
0,East Asia & Pacific (excluding high income),5.31,8.56,0.62
4,Latin America & Caribbean (excluding high income),7.61,12.89,0.59
6,South Asia,1.31,2.57,0.51
5,Middle East & North Africa (excluding high inc...,2.73,5.79,0.47